.centered {
    padding-top:130px;
    background-color: white;
    padding-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}
.footerlink {
    background-color:transparent;
    color: white;
}

.divpadding {
    margin-bottom: 55px;
}

.email {
    background-color:transparent;
    color:#EADAC3;
    font-size:1em;
    font-family:sans-serif
}
 .footerabsolute {

     margin-top:250px;
     padding-bottom:20px;
     width:100%;
     bottom: 0;
     left:0;
     border-style: solid;
     border-width: 2px 0 0 0;
     border-color: gray;
         display: block;
 }
.test {
    height:800px;
}
.footer{
    padding-top: 20px;
    padding-bottom: 40px;
}

.mepic {
    background-image: url("../img/pic.jpg");
    height:300px;
    width:250px;
    display: inline-block;
}
.pictext {
    text-align:center;
    font-size:14px;

    margin-left:20px;
}
.water {
    background-image: url("../img/water.jpg");
}
.myNav {
    min-width:375px;
    position:fixed;
    width: 100%;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: gray;
}
.divider {
    background: rgb(255,255,255);
    background: -webkit-gradient(left, rgba(255,255,255,0) 0%, rgba(186, 186, 186,1) 51%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(186, 186, 186,1) 51%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(186, 186, 186,1) 51%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(186, 186, 186,1) 51%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(186, 186, 186,1) 51%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(186, 186, 186,1) 51%, rgba(0,0,0,0) 100%);
    height: 5px;

    z-index: -1;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
    text-align: center;
    background-color: white;
}

h3{
    font-family: monospace;
    color: #5B5B5B;
}
a {
    margin: 0 3px -19px 3px;
    font-size: 20px;
    background-color: lightgray;
    color: #5B5B5B;
    font-family: monospace;



}
a:hover {
    color: black;
    background-color: white;
    text-decoration: none;

}
ul {

    list-style-type: none;
    display: inline-block;


}
#nav {

  text-align: center;
}

li {

    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 100px;
    text-decoration: none;
}
.current {
    border-style: solid;
    border-color: gray;
    border-width: 2px 2px 0 2px;
    background-color: white;
    width: 100px;
    text-align: center;
    color:#5B5B5B;
    opacity: 1;

}

.nonCurrent {
    width:100px;
    opacity: 0.5;
    color:black;
}
@media only screen and (max-width: 720px) {
    .centered {
        width:100%;
    }
}


@media only screen and (max-device-width: 480px) {

    a {
        font-size:3em;
    }
    .current {
        width: 175px;

    }

    .nonCurrent {
        width:175px;

    }
    .centered {
        padding-top:250px;
    }
    p{
        font-size: 2em;
    }
}
